{% extends "base.html" %}

{% block content %}
	<div style="width: 50%; margin-left: 25%; margin-top: 10%;">
		<div style="display: flex; align-items: flex-end;">
			<img width="200px" height="200px" id="profile-png" src="../static/img/user.png">
			<ul style="list-style: none; color: white;">
				<li><h2>Анонимус</h2></li>
				<li><h2>Анонимусович</h2></li>
				<li><h2>анонимус.ком</h2></li>
			</ul>
		</div>
		<div style="display: flex; align-items: flex-end; margin-top: 100px;">
			{% if current_user.is_authenticated %}
				<a class="sp-buttons" href="/logout"><Выйти</a>
            {% else %}
	            <a class="sp-buttons" href="/register">Зарегестрироваться</a>
		        <a class="sp-buttons" href="/login" style="margin-left: 20px;">Войти</a>
            {% endif %}
		</div>
	</div>
{% endblock %}